<div class="relative border border-grey rounded-lg overflow-hidden">
    <img class="object-cover aspect-2/1 w-full" [src]="`${announcement().pictures[0].url}`" [alt]="announcement().pictures[0].name" />
    <div class="flex flex-col gap-4 p-4">
        <p class="text-xl font-bold">
            {{ announcement().price }} €
            @if (announcement().distribution_type.name === "Acheter") {
                <span class="text-sm font-normal">{{ ceil(announcement().price/announcement().surface) }} €/m²</span>
            } @else {
                <span>/mois</span>
            }
        </p>
        <ul class="flex">
            <li>{{ announcement().pieces }} pièces</li>
            <li class="before:content-['•'] before:mr-2 before:pl-2">{{ announcement().rooms }} chambres</li>
            <li class="before:content-['•'] before:mr-2 before:pl-2">{{ announcement().surface }} m²</li>
        </ul>
        <p>{{ announcement().address.city }} ({{ announcement().address.postale_code }})</p>
        <button class="absolute inset-0 z-1 cursor-pointer sr-only-focusable" aria-label="Voir plus" [routerLink]="`/annonce/${announcement().id}`"></button>
    </div>
</div>