<div class="card">
    <mat-card appearance="outlined">
        <img mat-card-image [src]="`${advertisement().pictures[0].url}`" [alt]="advertisement().pictures[0].name" />
        <mat-card-content>
            <div class="card__content">
                <p class="text-xl font-bold">{{ advertisement().price }} € <span class="text-sm font-normal">{{ ceil(advertisement().price/advertisement().surface) }} €/m²</span></p>
                <ul class="flex">
                    <li>{{ advertisement().pieces }} pièces</li>
                    <li class="before:content-['•'] before:mr-2 before:pl-2">{{ advertisement().rooms }} chambres</li>
                    <li class="before:content-['•'] before:mr-2 before:pl-2">{{ advertisement().surface }} m²</li>
                </ul>
                <p>{{ advertisement().address }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>