<div
  [class]="
    `${openModal() ? 'pointer-events-auto opacity-100' : 'opacity-0 pointer-events-none'} transition duration-300 ease-in-out fixed inset-0 z-50`
  "
>
  <div
    class="fixed inset-0 bg-black/20"
    (click)="closeModal()"
    aria-label="Fermer"
  ></div>
  <div
    class="bg-white p-6 rounded-lg fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-[800px]"
  >
    <div class="flex items-center justify-between gap-2 pb-2">
      <p class="text-xl">Connectez-vous à votre espace</p>
      <button (click)="closeModal()" class="cursor-pointer" aria-label="Fermer">
        <lucide-angular
          [img]="CloseIcon"
          [size]="30"
          [strokeWidth]="1"
        ></lucide-angular>
      </button>
    </div>

    <div class="flex border-b border-gray-300 mb-6">
      <button
        [class]="
          `w-[50%] text-center py-4 cursor-pointer hover:bg-primary-10 ${tab() === 'login' ? 'border-b-2 border-primary' : ''}`
        "
        (click)="switchTab('login')"
      >
        Connexion
      </button>
      <button
        [class]="
          `w-[50%] text-center py-4 cursor-pointer hover:bg-primary-10 ${tab() === 'register' ? 'border-b-2 border-primary' : ''}`
        "
        (click)="switchTab('register')"
      >
        Inscription
      </button>
    </div>

    @if (tab() === "login") {
      <form class="space-y-2" [formGroup]="authForm">
        <input
          formControlName="email"
          name="email"
          type="email"
          class="p-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light"
          placeholder="Adresse email"
        />

        <input
          formControlName="password"
          name="password"
          type="password"
          class="p-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light"
          placeholder="Mot de passe"
        />

        <app-button
          (clicked)="login()"
          [label]="loading() ? 'Connexion...' : 'Se connecter'"
        />
      </form>
    }

    @if (tab() === "register") {
      <form class="space-y-2" [formGroup]="authForm">
        <input
          formControlName="username"
          name="username"
          type="text"
          class="p-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light"
          placeholder="Nom d'utilisateur"
        />
        <input
          formControlName="email"
          name="email"
          type="email"
          class="p-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light"
          placeholder="Adresse email"
        />

        <input
          formControlName="password"
          name="password"
          type="password"
          class="p-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light"
          placeholder="Mot de passe"
        />

        <app-button
          (clicked)="register()"
          [label]="loading() ? 'Création...' : 'Créer mon compte'"
        />
      </form>
    }

    @if (error()) {
      <div class="flex items-center gap-2 mt-4 text-red-500 text-sm">
        <lucide-angular [img]="CircleAlertIcon" [size]="18"></lucide-angular>
        {{ error() }}
      </div>
    }
  </div>
</div>
