<footer
  class="flex flex-col justify-center items-center border-t border-neutral-300 mt-16 py-8 px-4 gap-6"
>
  <div class="flex items-center gap-2">
    <picture>
      <source srcset="/myimmo-logo.png" type="image/png" />
      <img src="/myimmo-logo.png" alt="Logo MyImmo" class="w-8 h-8" />
    </picture>
    <p class="text-xl font-bold">MyImmo</p>
  </div>

  <div class="flex flex-col md:text-start">
    <p class="text-md text-center">
      Réalisé par
      <a class="underline" href="https://www.alexisflacher.fr/"
        >Alexis Flacher</a
      >
    </p>
    <p class="text-md text-center">Images de Unsplash</p>
  </div>
</footer>
