.error {
  display: none;
  text-align: center;
  padding: 1rem;
  color: rgb(201, 37, 37);
  border: 1px solid rgb(201, 37, 37);
  border-radius: 5px;
}

.activeError {
  display: block;
}

.errorMessage {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 0 1rem 0;

  span {
    margin-right: 0.3rem;
    color: rgb(201, 37, 37);
  }
}
