<header class="border-b border-neutral-300 py-4 px-4">
  <div class="content-large flex items-center justify-between gap-4">
    <div class="flex items-center gap-2 relative">
      <picture>
        <source srcset="/myimmo-logo.png" type="image/png" />
        <img src="/myimmo-logo.png" alt="Logo MyImmo" class="w-8 h-8" />
      </picture>
      <h1 class="text-2xl font-bold">
        <a routerLink="/"
          >MyImmo <span class="absolute top-0 right-0 inset-0"></span
        ></a>
      </h1>
    </div>

    <nav class="flex items-center gap-4">
      @if (authService.isLoggedIn()) {
        <app-button
          (clicked)="navigateToDashboard()"
          iconPosition="left"
          [icon]="HouseIcon"
          label="Mon espace"
        />
      } @else {
        <app-button
          (clicked)="openModal()"
          iconPosition="left"
          [icon]="LogInIcon"
          label="Connexion"
        />
      }
    </nav>
  </div>
</header>
