@import "../../styles/mixins.scss";

.container {
  width: 100%;
  box-shadow: 0px 5px 15px rgb(216, 216, 216);

  a {
    cursor: pointer;
  }

  .content {
    height: 100px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

    @include mobile {
      max-width: 100%;
      justify-content: space-around;
    }

    h1 {
      margin-right: 2rem;
      width: max-content;
    }

    a {
      margin: 0 0.5rem 0 0.5rem;
    }

    .links {
      display: flex;
      align-items: center;
    }
  }
}

.registerBtn {
  @include button;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid rgb(37, 37, 37);
  color: black;
}
