<div class="border-b border-grey">
    <div class="content p-4 flex gap-4 overflow-x-auto">
        <app-button [ghost]="true" (clicked)="toggleFilters()" [label]="`${distribution}`" />
        <app-button [ghost]="true" (clicked)="toggleFilters()" [label]="`${category === 'all' ? 'Maison et appartement' : category}`" />
        <app-button [ghost]="true" (clicked)="toggleFilters()" [label]="`${price}`" [class]="`${price === 'Budget' ? 'text-light border-light' : ''}`" />
    </div>
</div>
<div class="content pt-8 px-4">
    @if (data && data.length > 0) {
        <p class="text-primary font-bold">{{ data.length }} résultat{{ data.length > 1 ? "s" : "" }}</p>
    }
    <h2 class="text-2xl mb-4">Maisons et appartements à {{ distribution === "Acheter" ? "vendre" : "louer" }} - {{ city }}</h2>
    @if (loading) {
        <app-loader/>
    } @else if (data && data.length > 0) {
        <app-cards-list [data]="data" />
    } @else {
        <p>Il n'y a actuellement aucun résultat correspondant à vos critères de recherche.</p>
    }

    <div [class]="`${openFilters ? 'pointer-events-auto' : 'pointer-events-none opacity-0'}`">
        <div [class]="`fixed z-8 inset-[0] ${openFilters ? 'bg-black/20' : 'bg-transparent'} transition duration-300 ease-in-out`">
            <button class="absolute inset-0 cursor-pointer sr-only-focusable" (click)="toggleFilters()" aria-label="Fermer les filtres"></button>
        </div>
        <div [class]="`fixed z-9 top-[50%] left-4 right-4 md:right-auto md:left-[50%] translate-y-[-50%] md:translate-x-[-50%] bg-white p-4 rounded-lg md:w-full md:max-w-[640px] md:max-h-[740px] overflow-y-auto ${openFilters ? 'opacity-100' : 'opacity-0'} transition duration-300 ease-in-out`">
            <div class="flex items-center gap-2 pb-6">
                <button (click)="toggleFilters()" class="cursor-pointer" aria-label="Fermer"><lucide-angular [img]="CloseIcon" [size]="30" [strokeWidth]="1"></lucide-angular></button>
                <p class="text-xl">Filtres</p>
            </div>
            <!--
            <div #targetElement class="flex border border-grey rounded-full overflow-hidden">
                <button (click)="filterDistribution('Acheter')" [class]="`${distribution_type === 'Acheter' ? 'bg-primary text-white' : 'bg-transparent hover:bg-primary/10'} w-[50%] cursor-pointer py-2`">Acheter</button>
                <button (click)="filterDistribution('Louer')" [class]="`${distribution_type === 'Louer' ? 'bg-primary text-white' : 'bg-transparent hover:bg-primary/10'} w-[50%] cursor-pointer py-2`">louer</button>
            </div>
            -->
            <form (submit)="onSubmit($event)" [formGroup]="form">
                <div class="flex flex-col gap-6">
                    <div class="flex border border-grey rounded-full overflow-hidden">
                        <input formControlName="distribution" id="option1" type="radio" value="Acheter" class="sr-only peer/option1"/>
                        <label for="option1" class="w-[50%] py-2 cursor-pointer text-center peer-checked/option1:bg-light peer-checked/option1:text-white">Acheter</label>

                        <input formControlName="distribution" id="option2" type="radio" value="Louer" class="sr-only peer/option2"/>
                        <label for="option2" class="w-[50%] py-2 cursor-pointer text-center peer-checked/option2:bg-light peer-checked/option2:text-white">Louer</label>
                    </div>
                    <select class="text-black border border-grey rounded-lg p-2 w-full" id="pet-select" formControlName="category">
                        <option value="all">Maison et appartement</option>
                        <option value="Maison">Maison</option>
                        <option value="Appartement">Appartement</option>
                    </select>
                    <div class="border-t border-grey pt-6">
                        <p class="text-lg font-bold mb-4">Budget</p>
                        <div class="flex flex-col md:flex-row gap-4">
                            <div class="md:w-[50%] flex flex-col">
                                <label for="min-price" class="mb-2">Minimum</label>
                                <input formControlName="minimum" type="number" id="min-price" class="border rounded-lg border-grey p-2" />
                            </div>
                            <div class="md:w-[50%] flex flex-col">
                                <label for="max-price" class="mb-2">Maximum</label>
                                <input formControlName="maximum" type="number" id="max-price" class="border rounded-lg border-grey p-2" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end pt-8">
                    <app-button type="submit" label="Mettre à jour" />
                </div>
            </form>
        </div>
    </div>
</div>