<div class="relative">
    <div class="sticky top-[0] z-8 bg-white border-b border-grey">
        <div class="content p-6 flex gap-4 overflow-x-auto">
            <app-button [ghost]="true" (clicked)="toggleFilters(distributionFormRef)" [label]="`${distribution}`" />
            <app-button [ghost]="true" (clicked)="toggleFilters(categoryFormRef)" [label]="`${category === 'all' ? 'Maison et appartement' : category}`" />
            <app-button [ghost]="true" (clicked)="toggleFilters(budgetFormRef)" [label]="`${price}`" [class]="`${price === 'Budget' ? 'text-light border-light' : ''}`" />
            <app-button [ghost]="true" (clicked)="toggleFilters(piecesFormRef)" [label]="`${pieces}`" [class]="`${pieces === 'Pièces' ? 'text-light border-light' : ''}`" />
            <app-button [ghost]="true" (clicked)="toggleFilters()" label="Filtres" [icon]="FiltersIcon" iconPosition="left" />
        </div>
    </div>
    <div class="content pt-8 px-4">
        @if (data && data.length > 0) {
            <p class="text-primary font-bold mb-2">{{ data.length }} résultat{{ data.length > 1 ? "s" : "" }}</p>
        }
        <div class="flex items-center gap-4 justify-between flex-wrap mb-6">
            <h2 class="text-2xl">{{ category === 'all' ? 'Maison et appartement' : category }} à {{ distribution === "Acheter" ? "vendre" : "louer" }} - {{ city }}</h2>
            <div class="relative" #filtersList>
                <button class="flex items-center gap-2 cursor-pointer" (click)="toggleListFilter()"><lucide-angular [img]="ListFilterIcon" [size]="20"></lucide-angular> {{ activeOrderFilters?.label }}</button>
                @if(listFilter) {
                    <ul class="absolute bg-white z-2 p-4 w-max rounded-lg shadow-lg border border-grey mt-2 flex flex-col gap-2">
                        @for (item of inactiveOrderFilters; track $index) {
                            <li><button (click)="editOrder(item.name)" class="cursor-pointer">{{ item.label }}</button></li>
                        }
                    </ul>
                }
            </div>            
        </div>
        @if (loading) {
            <app-loader/>
        } @else if (data && data.length > 0) {
            <app-cards-list [data]="data" />
        } @else {
            <p>Il n'y a actuellement aucun résultat correspondant à vos critères de recherche.</p>
        }

        <div [class]="`${openFilters ? 'pointer-events-auto' : 'pointer-events-none opacity-0'}`">
            <div [class]="`fixed z-8 inset-[0] ${openFilters ? 'bg-black/20' : 'bg-transparent'} transition duration-300 ease-in-out`">
                <button class="absolute inset-0 cursor-pointer sr-only-focusable" (click)="toggleFilters()" aria-label="Fermer les filtres"></button>
            </div>
            <div [class]="`fixed z-9 top-[50%] left-4 right-4 md:right-auto md:left-[50%] translate-y-[-50%] md:translate-x-[-50%] bg-white p-6 rounded-lg md:w-full md:max-w-[640px] max-h-[90%] md:max-h-[740px] overflow-y-auto ${openFilters ? 'opacity-100' : 'opacity-0'} transition duration-300 ease-in-out`">
                <div class="flex items-center gap-2 pb-6">
                    <button (click)="toggleFilters()" class="cursor-pointer" aria-label="Fermer"><lucide-angular [img]="CloseIcon" [size]="30" [strokeWidth]="1"></lucide-angular></button>
                    <p class="text-xl">Filtres</p>
                </div>
                <form (submit)="onSubmit($event)" [formGroup]="form">
                    <div class="flex flex-col gap-6">
                        <div class="flex border border-grey rounded-full overflow-hidden" #distributionForm>
                            <input formControlName="formDistribution" id="option1" type="radio" value="Acheter" class="sr-only peer/option1"/>
                            <label for="option1" class="w-[50%] py-2 cursor-pointer text-center peer-checked/option1:bg-light peer-checked/option1:text-white">Acheter</label>

                            <input formControlName="formDistribution" id="option2" type="radio" value="Louer" class="sr-only peer/option2"/>
                            <label for="option2" class="w-[50%] py-2 cursor-pointer text-center peer-checked/option2:bg-light peer-checked/option2:text-white">Louer</label>
                        </div>
                        <select class="text-black border border-grey rounded-lg p-3 w-full" id="pet-select" formControlName="formCategory" #categoryForm>
                            <option value="all">Maison et appartement</option>
                            <option value="Maison">Maison</option>
                            <option value="Appartement">Appartement</option>
                        </select>
                        <div class="border-t border-grey pt-6" #budgetForm>
                            <p class="text-xl font-bold mb-4">Budget</p>
                            <div class="flex flex-col md:flex-row gap-4">
                                <div class="md:w-[50%] flex flex-col">
                                    <label for="min-price" class="mb-2 font-bold">Minimum</label>
                                    <input formControlName="formPriceMinimum" type="number" id="min-price" class="border rounded-lg border-grey p-3" />
                                </div>
                                <div class="md:w-[50%] flex flex-col">
                                    <label for="max-price" class="mb-2 font-bold">Maximum</label>
                                    <input formControlName="formPriceMaximum" type="number" id="max-price" class="border rounded-lg border-grey p-3" />
                                </div>
                            </div>
                        </div>
                        <div class="border-t border-grey pt-6" #piecesForm>
                            <p class="text-xl font-bold mb-4">Pièces</p>
                            <div class="flex flex-col md:flex-row gap-4">
                                <div class="md:w-[50%] flex flex-col">
                                    <label for="min-pieces" class="mb-2 font-bold">Minimum</label>
                                    <input formControlName="formPiecesMinimum" type="number" id="min-pieces" class="border rounded-lg border-grey p-3" />
                                </div>
                                <div class="md:w-[50%] flex flex-col">
                                    <label for="max-pieces" class="mb-2 font-bold">Maximum</label>
                                    <input formControlName="formPiecesMaximum" type="number" id="max-pieces" class="border rounded-lg border-grey p-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-end pt-8 gap-2">
                        <app-button [ghost]="true" (clicked)="reset()" label="Réinitialiser" />
                        <app-button type="submit" label="Mettre à jour" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>