@import "../../styles/mixins.scss";

.card {
  box-shadow: 0px 0px 15px rgb(230, 230, 230);
  display: flex;
  margin: 1rem 0;

  @include mobile {
    flex-direction: column;
  }

  .cardInfo {
    width: 300px;
    padding: 1rem;
  }
}
