<button (click)="onClick()" [type] [class]="`flex items-center w-max gap-2 ${ghost() ? 'border hover:bg-grey' : 'bg-primary text-white hover:bg-primary-dark'} py-2 px-4 rounded-full cursor-pointer transition duration-200 ease-in-out`">
    @if (icon() && iconPosition() === 'left') {
        <lucide-angular [img]="icon()" [size]="20"></lucide-angular>
    }
    {{ label() }}
    @if (icon() && iconPosition() === 'right') {
        <lucide-angular [img]="icon()" [size]="20"></lucide-angular>
    }
</button>
