@import "styles/mixins.scss";

.login {
  .overlay {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: $primary;
    clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
  }
}

.formLogin {
  background-color: rgb(236, 236, 236);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mobile {
    align-items: inherit;
    padding: 3rem;
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;

    input,
    button {
      margin: 0.5rem 0;
    }

    input {
      width: 400px;
      padding: 1rem;
      border: 0;

      @include mobile {
        width: 100%;
      }

      &:focus {
        outline: none;
      }
    }

    button {
      @include button;
      background-color: $secondary;
      width: max-content;
    }
  }

  .activeError {
    display: block;
  }
}
