<main class="px-4">
    <app-distribution />
    <div class="absolute inset-x-[0] bg-center bg-cover bg-[url(/background.webp)]">
        <!--<div class="bg-black/10 h-64"></div>-->
        <div class="h-64"></div>
    </div>
    <div class="content">
        <h2 class="relative text-2xl pt-24 mb-4">Vous avez les clés !</h2>
        <app-search/>
        @if (filteredBuyData && filteredBuyData.length > 0) {
            <h2 class="text-xl mb-2 pt-8">Nos dernières annonces à vendre à Grenoble :</h2>
            <app-cards-list [data]="filteredBuyData" />
            <div class="flex justify-center">
                <button (click)="goToSearchPage('Grenoble', 'Acheter')" mat-flat-button class="mt-4">Vois plus de biens à Grenoble</button>
            </div>
        }
        @if (filteredRentData && filteredRentData.length > 0) {
            <h2 class="text-xl mb-2 pt-8">Nos dernières annonces à louer à Grenoble :</h2>
            <app-cards-list [data]="filteredRentData" />
            <div class="flex justify-center">
                <button (click)="goToSearchPage('Grenoble', 'Louer')" mat-flat-button class="mt-4">Vois plus de biens à Grenoble</button>
            </div>
        }
    </div>
</main>
