<div class="p-4 max-w-[750px] rounded-2xl shadow-md bg-white">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Acheter">
            <mat-form-field class="mt-4 w-full">
                <mat-label>Chercher par ville ou cp</mat-label>
                <input matInput [(ngModel)]="search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Louer">
            <mat-form-field class="mt-4 w-full">
                <mat-label>Chercher par ville ou cp</mat-label>
                <input matInput [(ngModel)]="search">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>
</div>