<div class="p-4 md:p-8 max-w-[750px] rounded-2xl shadow-md bg-white relative">
    <form (submit)="onSubmit($event)" [formGroup]="form">
        <div class="flex border-b border-gray-300">
            <input formControlName="distribution" type="radio" id="option1" value="Acheter" class="sr-only peer/option1">
            <label for="option1" class="w-[50%] text-center py-4 cursor-pointer peer-hover/option1:bg-primary-10 peer-checked/option1:border-b-2 peer-checked/option1:border-primary">
                Acheter
            </label>

            <input formControlName="distribution" type="radio" id="option2" value="Louer" class="sr-only peer/option2">
            <label for="option2" class="w-[50%] text-center py-4 cursor-pointer peer-hover/option2:bg-primary-10 peer-checked/option2:border-b-2 peer-checked/option2:border-primary">
                Louer
            </label>
        </div>
        <div class="relative mt-4">
            <label id="search-input" class="absolute top-[50%] left-4 translate-y-[-50%]"><lucide-angular [img]="SearchIcon" [size]="20"></lucide-angular></label>
            <input formControlName="search" for="search-input" type="text" class="px-12 py-4 w-full border border-grey bg-white rounded-2xl outline-[0] focus:border-black placeholder-light" placeholder="Saisir le lieu ou le code postale"/>
        </div>
    </form>
    @if (openResults && data && data.length > 0) {
        <ul class="absolute z-9 inset-x-[16px] md:inset-x-[32px] bg-white rounded-2xl shadow-sm overflow-hidden" #resultsList>
            @for (item of data; track $index) {
                <li><button class="text-start p-4 w-full cursor-pointer hover:bg-neutral-200" (click)="changeSearchControl(item.properties.city)">{{ item.properties.city }} ({{ item.properties.postcode }})</button></li>
            }
        </ul>
    }
</div>