@import "../../styles/mixins.scss";

.containerSearch {
  display: flex;
  flex-direction: column;
  align-items: center;

  .formSearch {
    background-image: url("../../public/background-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    padding: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.596);
    }

    .oldSearch {
      z-index: 9;
      color: white;
      text-align: center;

      button {
        @include button;
        background-color: $secondary;
      }

      button:last-child {
        margin-left: 0.5rem;
        background-color: transparent;
        border: 1px solid white;
        color: white;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 500px;
      z-index: 9;
      color: white;

      @include mobile {
        width: 100%;
        padding: 1rem;
      }

      input,
      select {
        padding: 1rem;
        border: 0;
        background-color: white;
        border-radius: 5px;

        &:focus {
          outline: none;
        }
      }

      button {
        @include button;
      }

      input,
      select,
      button {
        margin: 0.5rem 0;
      }

      .infoNumbers {
        margin-top: 1rem;
        display: flex;

        div {
          width: 50%;

          input {
            width: 100%;
          }
        }

        div:last-child {
          margin-left: 1rem;
        }

        @include mobile {
          flex-direction: column;

          div {
            width: 100%;

            input {
              width: 100%;
            }
          }

          div:last-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
