@use "tailwindcss";
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@theme {
  --font-open: "Open Sans", sans-serif;

  --color-primary: #017cbc;

  --color-grey: #e0e0e0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--font-open);
}
ul {
  list-style: none;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
}
