<div class="content px-4 pt-8 space-y-4">
  <h1 class="text-3xl font-bold">
    @if (auth.currentUser$ | async; as user) {
      Bonjour <span class="username">{{ user.username }}</span> !
    }
  </h1>

  <p class="text-lg">Bienvenue sur votre espace personnel.</p>

  <app-button
    (clicked)="logout()"
    [icon]="LogoutIcon"
    iconPosition="left"
    label="Se déconnecter"
    [ghost]="true"
  />

  <div class="flex items-center gap-2 bg-yellow-100 text-yellow-800 p-4 mt-6">
    <lucide-angular [img]="HammerIcon" [size]="22" /> Encore un peu de patience,
    votre espace personnel est en construction.
  </div>
</div>
